.about
    height 100%
    min-height 100vh
    font-family "Josefin-Sans", Arial, Helvetica, sans-serif
    display flex
    flex-wrap wrap
    justify-content center
    background-image: linear-gradient(to top, #160a0b, #201717, #2b2120, #372b29, #433633);
    color #DDD
    position relative
 

.about__header
    flex 1 100%
    margin-right auto
    font-size 3.5rem
    padding 50px
    transform: translateY(50px)  
    margin 0 auto
    margin-top 200px
    text-align center
    > span 
        display block
        height 1px
        background #DDD
        width 300px
        margin-top 30px
        margin 30px auto

.about__content
    flex 50% 
    margin-bottom auto
    line-height: 1.5em
    padding 45px
    text-align: justify
    margin 0 200px
    > h3 
        font-size 1.6rem
        padding 10px 0px
.intro 
    > h2
        font-size 1.5rem
        padding 10px 2px
.skills
    display flex
    flex-wrap wrap
    justify-content center
    align-items: center
    padding 20px

.skills__box
    padding 20px
    flex 1 30%
    ul 
        li 
            list-style square

.workflow
    padding 20px
    > h2 
        font-size 1.5rem
    > p
        padding 10px
@media screen and (max-width 968px)
    .about__content
        margin 0 10px
    .skills__box
        flex 1 50%
    .about__header
        > h1 
            font-size 3rem

@media screen and (max-width 768px)
    .skills__box
        flex 1 100%